<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="/stylesheets/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <style>
      body {
        background-color: #5f9ea0;
        font-family: Courier New;
      }
    </style>
    <title>Super Team Picker</title>
  </head>
  <body>
    <%- include('navbar.ejs') %>
  </body>
</html>
